<p>profile works!</p>
<div class="form-card">
        <img src="logo1.png" alt="Elite Badminton Club " class="logo" >
        <h1>Welcome to Elite Badminton Club</h1>

    <div class="Login-info">
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your email">
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your passsword">
        </div>

        <div class="input-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" placeholder="Confirm your password">
        </div>
    </div>
    <div class="Contact-info">
        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter your name">
        </div>

        <div class="input-group">
            <label for="gender">Gender</label>
            <select id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <div class="input-group">
            <label for="contact">Contact Information</label>
            <input type="tel" id="contact" placeholder="Enter your phone number">
        </div>

        <div class="checkbox-group">
            <input type="checkbox" id="terms">
            <label for="terms">Accept terms and conditions</label>
        </div>

        <div class="captcha">
            <small>Captcha goes here</small>
        </div>
    </div>

        <button type="submit">Submit</button>

</div>