<section class="about">
    <h2>OUR <span class="higlight">STORY</span> KINDA</h2>
    <p>It is  long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>

    <button class="btn btn-primary"></button>
</section>


<!-- <div class="about-page">
    <h1>About the Badminton Club</h1>
    <p>Welcome to the SBK Badminton Club. Here, you can explore everything about us, our mission, and our team.</p>
    <img src="assets/about-banner.jpg" alt="About Banner">
  </div>
   -->