

<!-- Navigation Bar -->
<!-- <nav class="navbar">
   <div class="logo">
         <a href="#">
            <img src="logo1.png" alt=" Elite Badminton Club">
          </a>
    </div>
     <ul>
      <li><a routerLink="/home"  routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
      <li><a routerLink="/news"  routerLinkActive="active-link">News</a></li>
     </ul>
   <div class="auth">
       <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
       <a routerLink="/login" routerLinkActive="active-link">Login</a>
    </div>
</nav> -->



<!--Navigation Bar -->


<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
      <!-- Logo on the Left -->
      <a href="#">
        <img src="logo1.png" alt=" Elite Badminton Club">
      </a>

      <!-- Centered Search -->
      <div class="search-container mx-auto">
          <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-gold" type="submit">Search</button>
          </form>
      </div>

      <!-- Right Side Dropdowns -->
      <div class="dropdowns d-flex">
          <div class="btn-group me-2">
              <button class="btn btn-gold dropdown-toggle" type="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                  Training
              </button>
              <ul class="dropdown-menu" aria-labelledby="trainingDropdown">
                <li> sessions</li>
                <li>coaches</li>
                  <a class="dropdown-item" href="#" >Sessions</a>
                  <a class="dropdown-item" href="#" >Coaches</a>
              </ul>
          </div>

          <div class="btn-group dropdown me-2">
              <button class="btn btn-gold dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Bookings
              </button>
              <ul class="dropdown-menu" aria-labelledby="bookingsDropdown">
                  <li><a class="dropdown-item" href="#">Courts</a></li>
                  <li><a class="dropdown-item" href="#">Tournaments</a></li>
              </ul>
          </div>

          <div class="btn-group dropdown me-2">
              <button class="btn btn-gold dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Stats
              </button>
              <ul class="dropdown-menu" aria-labelledby="statsDropdown">
                  <li><a class="dropdown-item" href="#">Leaderboard</a></li>
                  <li><a class="dropdown-item" href="#">Player Stats</a></li>
              </ul>
          </div>

          <a href="#" class="btn btn-outline-gold btn-sm login-btn">Login</a>
      </div>
  </div>
</nav>