

<!-- Navigation Bar -->
<nav class="navbar">
   <div class="logo">
         <a href="#">
            <img src="logo1.png" alt=" Elite Badminton Club">
          </a>
    </div>
   <ul>
      <li><a routerLink="/home"  routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
      <li><a routerLink="/news"  routerLinkActive="active-link">News</a></li>
     </ul>
   <div class="auth">
       <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
       <a routerLink="/login" routerLinkActive="active-link">Login</a>
    </div>
</nav>



<!-- Hero Section -->
<!-- <section class="hero">
<h1>Welcome to the Elite Badminton Club</h1>
<p>Join our community to enhance your skills, participate in tournaments, and connect with top-level players.</p>
<button>Join Now</button>

  <img src="player_image.png"  alt="Badminton Players">
   <div class="shuttle">
    <img src="shuttle.png"  width="200"   alt="shuttle">
   </div>
 

</section> -->

<!-- Card Section -->
<!-- <section class="cards-container" >
<div class="card" (click)="navigateTo('/training')">
 
  <img src="https://via.placeholder.com/300x200" alt="Training">
  <h3>Advanced Training Programs</h3>
  <p>Boost your skills with personalized training sessions from expert coaches.</p>
</div>
<div class="card" (click)="navigateTo('tournaments')">
  <img src="https://via.placeholder.com/300x200" alt="Tournaments">
  <h3>Upcoming Tournaments</h3>
  <p>Participate in elite tournaments to test your skills against top players.</p>
</div>
<div class="card"  (click)="navigateTo('community')">
  <img src="https://via.placeholder.com/300x200" alt="Community">
  <h3>Join Our Community</h3>
  <p>Connect with other passionate players and become part of the club.</p>
</div>
</section> -->

<!-- Footer -->
<!-- <footer>
© 2025 Elite Badminton Club. All rights reserved.
</footer> -->






