form-card{
  background:#222;
  border:2px solid #d4af37;
  border-radius: 20px;
  padding: 20px;
  width:350px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5), inset 0 0 20px #d4af37;
  text-align: center;
  margin:50px auto;
  justify-content: center;
  align-items: center;
  max-width: 900px;

}

.Login-info
{
  display: flex;
}

.form-card .logo {
  width:100px;
  margin: 0 auto 10px;

}

.form-card h1 {
  font-size: 1.5rem;
  color: #d4af37;
  margin-bottom: 20px;
}

.form-card .input-group {
  margin-bottom: 15px;
}

.form-card label {
  display: block;
  margin-bottom: 5px;
  color:  #d4af37;
}

.form-card input,.form-card select{
  width:100%;
  padding: 10px;
  border:1px solid #444;
  border-radius: 10px;
  background: #111;
  color:#fff;
  outline:none;
}

.form-card input:focus{
  border-color:#d4af37 ;
  box-shadow: 0 0 5px #d4af37;
}
.form-card button{
  width:100%;
  padding: 10px;
  border:none;
  border-radius: 10px;
  background: #d4af37;
  color:#111;
  font-size: 1rem;
  cursor:pointer;
  margin-top:10px;

}

.form-card button:hover {
  background:#ffa500;
}

.form-card .checkbox-group {
  display: flex;
  align-items: center;
  justify-content: start;
  gap:10px;
  margin: 10px 0 ;
}

.form-card .captcha {
  background:#333;
  padding: 10px;
  border-radius: 10px;
  margin:10px 0;
}

.form-card small {
  color:#d4af37;
  font-size: 0.8rem;
}




.login-container {

  max-width: 900px; 

  background:#222;
    border:2px solid #d4af37;
    border-radius: 20px;
    padding: 20px;
    width:350px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5), inset 0 0 20px #d4af37;
    text-align: center;
    margin:50px auto;
    justify-content: center;
    align-items: center;
    max-width: 900px;

}



.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100px;
  margin: 0 auto 10px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid gold;
  border-radius: 4px;
  background-color: black;
  color: gold;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gold;
}

.btn-login {
  background-color: gold;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.btn-login:hover {
  background-color: #d4af37;
}

.forgot-password {
  color: gold;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}