
<!-- <mat-card-header class="mat-header">
  <h2>Login</h2>

</mat-card-header>
<mat-card-content>
   <form class="loginform">
      <mat-form-field class="full-width">
         <mat-label> Email/Username</mat-label>
         <input matInput placeholder="example@gmail.com" value="">

      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label> Password</mat-label>
        <input matInput placeholder="***********" value="">
   
      </mat-form-field>

  </form>

</mat-card-content>

<mat-card-actions>
    <button mat-raised-button color="primary">Login</button>
    <button mat-raised-button color="accent">Cancel</button>
</mat-card-actions>

 -->

<div class="login-container">
  <div class="logo">MyLogo</div>
  <img src="logo1.png" alt="Elite Badminton Club " class="logo" >
  <form id="loginForm">
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <div class="password-wrapper">
              <input type="password" id="password" name="password" placeholder="Enter your password" required>
              <span class="toggle-password" id="togglePassword">&#x1F441;</span>
          </div>
      </div>
      <div class="form-options">
          <a href="#" class="forgot-password">Forgot Password?</a>
      </div>
      <button type="submit" class="btn-login">Log In</button>
  </form>
</div>