<!-- <div class="receipt-container">
    <div class="receipt-header">
        <h2>Receipt</h2>
    </div>
    <div class="receipt-details">
        <div class="detail-row">
            <span class="label">Member:</span>
            <span class="value">709-xxxxx</span>
        </div>
        <div class="detail-row">
            <span class="label">Subscription:</span>
            <span class="value">709-xxxxx</span>
        </div>
        <div class="detail-row">
            <span class="label">Orders:</span>
            <span class="value">709-xxxxx</span>
        </div>
        <div class="detail-row">
            <span class="label">Date:</span>
            <span class="value">709-xxxxx</span>
        </div>
        <div class="detail-row">
            <span class="label">Type:</span>
            <span class="value">709-xxxxx</span>
        </div>
        <div class="detail-row">
            <span class="label">Status:</span>
            <span class="value">709-xxxxx</span>
        </div>

    </div>
    <table class="receipt-table">
        <thead>
            <tr>
                <th>Unit</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Minition Start-Sunday <br> Hall2 -new hall:Sunday 09:00-10.00</td>
                <td>500.00 dkk</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td>500.00 dkk</td>
            </tr>
        </tfoot>
    </table>
</div> -->

<div class="invoice-container">
    <header class="invoice-header">
        <img src="logo1.png" alt="club logo" class="logo">
        <div class="invoice-details">
            <p>Date: <span>Current date</span></p>
            <p>Invoice #: <span>BRA-00335</span></p>
        </div>
    </header>

    <!--Company Information Section -->
    <div class="company-info">
        <div>
            <h3>Club Address</h3>
            <p>Number:23456789</p>
            <p>VAT:23456789</p>
            <p>6622 Abshire Mills</p>
            <p>Port Orlofurt,05820</p>
            <p>Denmark</p>
        </div>
        <div>
            <h3>User Address</h3>
            <p>Number:23456789</p>
            <p>6622 Abshire Mills</p>
            <p>Port Orlofurt,05820</p>
            <p>Denmark</p>
        </div>
    </div>
    <!--Product Table -->
    <table class="product-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Prdouct Details</th>
                <th>Price</th>
                <th>Qty</th>
                <th>VAT</th>
                <th>Subtotal</th>
                <th>Subtotal +VAT</th>
            </tr>
      
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Monthly Accounting services</td>
                <td>$150</td>
                <td>1</td>
                <td>20%</td>
                <td>$50.00</td>
                <td>$60.00</td>
            </tr>
        </tbody>
    </table>
    <div class="total-section">
        <div>
            <p>Net Total:</p>
            <p>VAT Total</p>
            <p>Total</p>
            
        </div>
        <div>
            <p>$320.00</p>
            <p>$64.00</p>
            <p class="grand-total">$384.00</p>
        </div>
    </div>
    <div class="payment-details">
        <h4>Payement Details </h4>
        <p>Bank of banks </p>
        <p>Bank code</p>
        <p>Account number</p>
         <p>Payemnt reference</p>
    </div>
    <footer>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quidem, magni autem rem aliquam nesciunt, iste corporis itaque eveniet est animi. Earum vero cum, animi voluptatum totam cumque deleniti suscipit.</p>
    </footer>
    
</div>
