

<div class="container-fluid">
    <form  class="d-flex" role="search">
        <input class="form.control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<div class="card-container">
    <div class="card-banner">
        <div class="banner-content">
            <span class="badge">Barn</span>
            <h2 class="title">BASIS</h2>
        </div>
    </div>
    <!--Right Section-->
    <div class="card-content">
        <h3 class="card-title">Basis Barn - Mandag</h3>
        <div class="card-details">
            <p><mat-icon>group</mat-icon> Antal tilmeldte:19/24</p>
            <p><mat-icon>calendar_today</mat-icon> Alder:8-11</p>
            <p><mat-icon>monetization_on</mat-icon> Pris:500,00 DKK</p>
            <p><mat-icon>credit_card</mat-icon> Rater:Halvårlight- beløbet opkræves i rater</p>
            <p><mat-icon>location_on</mat-icon> Hal 2-Ny hal</p>
            <p><mat-icon>schedule</mat-icon> Mandag 15:00-16:00</p>
            <p><mat-icon>person</mat-icon>Instruktør:Thor percy Hinge Pedersen</p>
            
        </div>
        <div class="card-description">
            <p><mat-icon>info</mat-icon>Beskrivelse</p>
            <p>Dette er tilmelding til Basis Barn-Mandag</p>
        </div>

        <button mat-button color="primary" class="action-button">Læs mere & tilmeld</button>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src=".." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="filter-section">
        <button class="btn btn-outline-primary">Show All</button>
        <button class="btn btn-outline-secondary">Teams</button>
        <button class="btn btn-outline-secondary">Tidspunkt</button>
       
    </div>
   
</div>